.vide {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border:0px;
    width: auto;
    height: 700px;
}

.vide2 {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border:0px;
    /* width: auto; */
    /* width: 700px; */
    height: 700px;
    /* margin-top: 50px;
    margin-bottom: 50px; */
}

@media(max-width:1200px) {
    .vide {
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        border:0px;
        width: 80%;
    }
}

@media(max-width:850.98px) {
    .vide {
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        border:0px;
        width: 70%;
    }
}

@media(max-width:600.98px) {
    .vide {
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        border:0px;
        width: 80%;
        margin-top: 0px;
        padding-top: 0px;
        
    }
    .vide2 {
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        border:0px;
        width: 80%;

    }
}