body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }


body { background: #fff; }

/* #tree-simple {
    height: 900px;
} */

optional Container STYLES 
 .chart { height: 100%; width: 100%; border: 3px solid #DDD; border-radius: 3px; }
.node { color: #9CB5ED; border: 2px solid #C8C8C8; border-radius: 3px; }
.node p { font-size: 20px; line-height: 20px; height: 100%; font-weight: bold; padding: 3px; margin: 0; text-align: center;}
.node img { height : 200px; width : 300px;}